.herder{
    height: 100px;
    display: flex;
    justify-content: space-around;
    background: #25B8E7;
    color: white;
    align-items: center;
}
.herder h1{
    line-height: 77.45px;
    font-weight: 700;
}
.herder a{
    text-decoration: none;
    color: white;
}
.herder div{
    display: flex;
    gap: 20px; 
}
